<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add</title>
</head>
<body>
    <h1>Add Member</h1>
    <form action="addrecord/" method="post">
        {% csrf_token %}
    First Name: <br>
    <input type="text" name="first"> <br>
    Last Name: <br>
    <input type="text" name="last">
    <br><br>
    <input type="submit" value="Submit">
    </form>
</body>
</html>