<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <table border="1">
        {% for x in mymembers %}
        <tr>
            <td><a href="update/{{ x.id }}">{{ x.id }}</a></td>
            <td>{{ x.firstName }}</td>
            <td>{{ x.lastName }}</td>
            <td><a href="delete/{{ x.id }}">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
    <a href="add/">Add Member</a>
</body>
</html>